<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container" class="container">

</div>
<%= yield %>
<%= javascript_include_tag 'application' %>
</body>
</html>
